@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            display: block;
            height: 100%;
            text-align: right;
            transform: translateY(0);
            background: transparent;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1rem;
            }
        }
    }

    .about__bio {
        font-size: 1.2rem;
    }

    .projects {
        
        &__bio-image {
            height: 50vh;
            @include transition-ease;
        }

        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        .text-secondary {
            font-size: 2.5rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg {

    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include media-xl {
    .projects {
        &__bio-image {
            @include transition-ease;
            height: 70vh;
        }
    }
}